# ----------------------
# Flask
# ----------------------
flask


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn

#
# Other Requirements
#
flask-sqlalchemy
flask-wtf
psycopg2 