html {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: purple;
}
.page {
  background-color: #B2DFDB;
  width: 700px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

table {
    margin: 0 auto;
    padding: 5px;
    border-collapse: collapse;
}

td {
    border: 2px solid purple;
    padding: 5px;
}

.heading {
    font-weight: bold;
}