<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    </head>
    
    <body class="teal lighten-1">
        
    <nav>
    <div class="nav-wrapper  teal darken-1">
      <a href="#" class="brand-logo">&nbsp; Wishlist<sup>&reg;</sup></img></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
        <div class="row valign-wrapper">
        <div class="col s12 m7 center-block">
          <div class="card hoverable center">
            <div class="card-image">
              <img class="center-block" style="width: 50%; heigh: auto;" src="static/img/logo.gif">
            </div>
            <div class="card-content">
            <div class="row valign-wrappers">
        <form method="post" action="/login">
            <div class="row">
                <div class="input-field col s9">
                    <input name="username" type="text" class="validate">
                    <label for="username" class="center-align">Username</label>
                </div>
                <div class="input-field col s3">
                    <input id="login" class="btn teal waves-effect waves-light" type="submit" value="Login">
                </div>
            </div>
        </form>
        </div>
            </div>
          </div>
        </div>
        </div>
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script>
$(document).ready(function() {
    $('select').material_select();
});
</script>
    </body>
</html>